body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(18, 145, 145);
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.container {
  max-width: 1000px;
  margin-bottom: 20px;
}

/* i added styling for the class jumbotron  */

.jumbotron {   
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding-bottom: 30px;
}

.display-3 {
  text-align: center;
}

.lead {
  text-align: center;
}

#currentDay {
  text-align: center;
}

.description {
  white-space: pre-wrap;
}
/* time block time! */
.time-block {
  text-align: left;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #82c4fa;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 15px;
  text-align: right;
  font-size: 20px;
}

/* we are now gonna try to start styling the past, present, and future events to make things clearer */
.past {
  background-color: #82c4fa;
  color: white;
  border-radius: 15px;
}

.present {
  background-color: #0772fd;
  color: white;
  border-radius: 15px;
}

.future {
  background-color: #054375;
  color: white;
  border-radius: 15px;
}

/* the style for the button that will save the schedule to your local server. */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #030303;
  color: rgb(18, 145, 145);
} 

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* the style for the button that clears the schedule. */
.clearFieldBtn {
  margin-top: 30px;
  padding: 10px;
  align-items: left;
  text-align: center;
  background-color: rgb(241, 226, 7);

}

.clearFieldBtn i:hover {
  font-size:20px;
  transition: all 0.3s ease-in-out;
}

